<div class="row">
  <div class="register col-md-4">
      <h1>Register</h1>
      <form [formGroup]="form" (ngSubmit)="registerUser(form.value)">


        <div class="form-group">
          <label for="firstName">First Name</label>
          <input type="text" class="form-control" formControlName="firstName" name="firstName" id="firstName">
          <small [hidden]="form.controls.firstName.valid || (form.controls.firstName.pristine)">
            First Name required
          </small>
        </div>

        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input type="text" class="form-control" formControlName="lastName" name="lastName" id="lastName" >
          <small [hidden]="form.controls.lastName.valid || (form.controls.lastName.pristine)">
            Last Name required
          </small>
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" formControlName="email" name="email" id="email" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
          <small [hidden]="form.controls.email.valid || (form.controls.email.pristine)">
            Invalid Email address
          </small>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" formControlName="password" name="password" id="password">
          <small [hidden]="form.controls.password.valid || (form.controls.password.pristine)">
            Password required
          </small>
        </div>

        <button type="submit" [disabled]="!form.valid" class="btn btn-success">Submit</button>

      </form>
  </div>
</div>


<div *ngIf="message.length > 0; then thenBlock"></div>
<!-- <div *ngIf="success && message.length > 0"; else elseBlock”>Truthy condition</div> -->
<ng-template #thenBlock>
  <div *ngIf="success; else failure" class="overlay" (click)="toggleOverlay()">
    Register Successful
  </div>
</ng-template>
<ng-template #failure>
  <div class="overlay" (click)="toggleOverlay()">
    Register Failed
  </div>
</ng-template>
