<div class="row">
  <div class="login col-md-4">
    <h1>Login</h1>
    <form [formGroup]="form" (ngSubmit)="loginUser(form.value)">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" formControlName="email" name="email" id="email" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
        <small [hidden]="form.controls.email.valid || (form.controls.email.pristine)">
          Invalid Email address
        </small>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" formControlName="password" name="password" id="password">
        <small [hidden]="form.controls.password.valid || (form.controls.password.pristine)">
          Password required
        </small>
      </div>

      <button type="submit" [disabled]="!form.valid" class="btn btn-success">Submit</button>

    </form>
  </div>
</div>
<div *ngIf="message.length > 0; then thenBlock"></div>
<!-- <div *ngIf="success && message.length > 0"; else elseBlock”>Truthy condition</div> -->
<ng-template #thenBlock>
  <div *ngIf="success; else failure" class="overlay" (click)="toggleOverlay()">
    Login Successful
  </div>
</ng-template>
<ng-template #failure>
  <div class="overlay" (click)="toggleOverlay()">
    Login Failed
  </div>
</ng-template>
