/* You can add global styles to this file, and also import other style files */
.overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  text-align: center;
  vertical-align: middle;
  line-height: 100vh;
  font-size: 5em;
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
small {
  color: #c4160a;
  font-size: 16px;
  font-weight: bold;
}
.full-width {
  width: 100%;
}

body{
  /*background-color: #000;*/
  background-image: url("/assets/images/pexels-photo-164679.jpeg");
  background-size: cover;
  color: #fff;
  font-family: 'Comfortaa', cursive;
}

h1{
  color: rgb(127,79,33);
  font-weight: bold;
}
